<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.huang.dlyk_server.mapper.TDicValueMapper">
  <resultMap id="BaseResultMap" type="org.huang.dlyk_server.model.TDicValue">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_value" jdbcType="VARCHAR" property="typeValue" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    id, type_code, type_value, `order`, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_dic_value
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectAppellationList" resultType="org.huang.dlyk_server.query.AppellationQuery">
      select id, type_value as appellation
          from t_dic_value
      where type_code = 'appellation'
    </select>
  <select id="selectNeedLoanList" resultType="org.huang.dlyk_server.query.NeedLoanQuery">
    select id, type_value as isNeedLoan
    from t_dic_value
    where type_code = 'needLoan'
  </select>
  <select id="selectIntentionStateList" resultType="org.huang.dlyk_server.query.IntentionStateQuery">
    select id, type_value as intentionState
    from t_dic_value
    where type_code = 'intentionState'
  </select>
  <select id="selectIntentionProductList"
          resultType="org.huang.dlyk_server.query.IntentionProductQuery">
    select id, name as productName
    from t_product
  </select>
  <select id="selectClueStateList" resultType="org.huang.dlyk_server.query.ClueStateQuery">
    select id, type_value as clueState
    from t_dic_value
    where type_code = 'clueState'
  </select>
  <select id="selectSourceList" resultType="org.huang.dlyk_server.query.SourceQuery">
    select id, type_value as sourceName
    from t_dic_value
    where type_code = 'source'
  </select>
    <select id="selectNoteWayList" resultType="org.huang.dlyk_server.query.NoteWayQuery">
        select id, type_value as noteWayName
        from t_dic_value
        where type_code = 'noteWay'
    </select>
    <select id="selectStageList" resultType="org.huang.dlyk_server.query.TranStageQuery">
        select id, type_value as tranStage
        from t_dic_value
        where type_code = 'stage'
    </select>
    <select id="selectDicValue" resultMap="BaseResultMap">
      select
          <include refid="Base_Column_List" />
          from t_dic_value
      <where>
        <if test="typeCode != null and typeCode != ''">
          and type_code = #{typeCode,jdbcType=VARCHAR}
        </if>
      </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_dic_value
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="org.huang.dlyk_server.model.TDicValue" useGeneratedKeys="true">
    insert into t_dic_value (type_code, type_value, `order`, 
      remark)
    values (#{typeCode,jdbcType=VARCHAR}, #{typeValue,jdbcType=VARCHAR}, #{order,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="org.huang.dlyk_server.model.TDicValue" useGeneratedKeys="true">
    insert into t_dic_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="typeValue != null">
        type_value,
      </if>
      <if test="order != null">
        `order`,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeValue != null">
        #{typeValue,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.huang.dlyk_server.model.TDicValue">
    update t_dic_value
    <set>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeValue != null">
        type_value = #{typeValue,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        `order` = #{order,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.huang.dlyk_server.model.TDicValue">
    update t_dic_value
    set type_code = #{typeCode,jdbcType=VARCHAR},
      type_value = #{typeValue,jdbcType=VARCHAR},
      `order` = #{order,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>